#logo1 { margin:0.1em auto 0.1em  auto}
#logo { background-image: url(/images/logo2.png); background-repeat: no-repeat;}
#custom-doc { width: 95%; min-width: 950px; }
#pagetitle {background-image: url(/yui/assets/bg_hd.gif);}

.smallmap {
    width: 800px;
    height: 500px;
    border: 1px solid #ccc;
}

.devicegrid {
    width: 800px;
    height: 500px;
    border: 1px solid #ccc;
}

a.tryitbtn, a.tryitbtn:link, a.tryitbtn:visited, a.showbtn, a.showbtn:link, a.showbtn:visited {
    background-color: #98BF21;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    margin-left: 1px;
    outline: 1px solid #98BF21;
    padding: 3px 0 4px;
    text-align: center;
    text-decoration: none;
    width: 80px;
}

a.tryitbtn:hover, a.tryitbtn:active, a.showbtn:hover, a.showbtn:active {
    background-color: #7A991A;
}