<!DOCTYPE html> 
<html> 
<head> 
	<title>技术支持</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="/jquery/jquery.mobile-1.2.0.min.css" />
	<script src="/jquery/jquery-1.8.2.min.js"></script>
	<script src="/jquery/jquery.mobile-1.2.0.min.js"></script>
</head> 
 
<body>
    <div data-role="page" id="indexPage">
        <div data-role="content">
							<h2><span style="color:#000090">版权声明</span></h2>
	          	<p>激扬公司对其发行的或与合作公司共同发行的包括但不限于产品或服务的全部内容及腾讯网站上的材料拥有版权等知识产权，受法律保护。</p>
							<p>未经本公司书面许可，任何单位及个人不得以任何方式或理由对上述产品、服务、信息、材料的任何部分进行使用、复制、修改、抄录、传播或与其它产品捆绑使用、销售。</p>
							<p>凡侵犯本公司版权等知识产权的，本公司必依法追究其法律责任。</p>
							<p>本公司法律事务部受本公司指示，特此郑重法律声明！</p>
							<hr>
							<p>声明单位：激扬公司法律事务部</p>
        </div>
    </div>
 
</body>
</html>