<!DOCTYPE html> 
<html> 
<head> 
	<title>帮助说明</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="/jquery/jquery.mobile-1.2.0.min.css" />
	<script src="/jquery/jquery-1.8.2.min.js"></script>
	<script src="/jquery/jquery.mobile-1.2.0.min.js"></script>
</head> 
<body> 

<div data-role="page">
	<div data-role="content">	
		<h2><span style="color:#000090">软件更新</span></h2>
		<p>1.通过PC下载执法监察客户端软件。</p>
		<p>http://218.4.152.78/update/jWatch.zip</p>
		<p>2.然后解压缩到本地，双击ipa文件，自动加入到y苹果的iTunes软件中。</p>
		<p>3.将iphone连接到itunes进行软件同步。</p>
	
	</div><!-- /content -->
</div><!-- /page -->

</body>
</html>