<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>测量</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!--link rel="stylesheet" href="/jquery/jquery.mobile-1.2.0.min.css" /-->

        <script src="/jquery/jquery-1.8.2.min.js"></script>
        <script src="/jquery/jquery.mobile-1.2.0.min.js"></script>

			  <link rel="stylesheet" href="/jquery/themes/my-theme.min.css" />
			  <link rel="stylesheet" href="/jquery/jquery.mobile.structure-1.2.0.min.css" />
			
        <link rel="stylesheet" href="/OpenLayers/theme/default/style.css" type="text/css">

        <link rel="stylesheet" href="/map/style.mobile.css" type="text/css">
        <link rel="stylesheet" href="/map/style.mobile-jq.css" type="text/css">
        <script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
        <!--script src="/OpenLayers/lib/OpenLayers.js?mobile"></script-->
        <script src="/OpenLayers/OpenLayers.js"></script>
        
        <script src="/map/mobile-base.js?43d123234"></script>
        <script src="/map/mobile-jq.js?224safa44"></script>
    </head>
    <body>
        <h1 id="title">项目地块</h1>
        <div data-role="page" id="mappage">
          <div data-role="content">
            <div id="map"></div>
 					</div>
          <div data-role="footer">
         		<div hidden='true'>
							<input name="user_id"  placeholder="" value="<%= @username %>" type="text" >
						</div>
            <a href="#" id="locate" data-icon="locate" data-role="button">定位</a>
            <!-- a href="#layerspage" data-icon="layers" data-role="button">切换</a-->
 						<a href="#" id="layer" data-icon="layers" data-role="button">切换</a>
            <!--a href="#" id="xmdk"  data-icon="" data-role="button">项目地块</a-->
						<input type="button" id="xmdk" data-theme="a" value="项目地块" />
						<input type="button" id="myxmdk" data-theme="a" value="我的地块" />
            <!--a href="#" id="myxmdk" data-icon="" data-role="button">我的地块</a-->
          </div>
          <div id="navigation" data-role="controlgroup" data-type="vertical">
            <a href="#" data-role="button" data-icon="plus" id="plus"
               data-iconpos="notext"></a>
            <a href="#" data-role="button" data-icon="minus" id="minus"
               data-iconpos="notext"></a>
          </div>
        </div>

        <div data-role="page" id="searchpage">
          <div data-role="header">
            <h1>查找</h1>
          </div>
          <div data-role="fieldcontain">
            <input type="search" name="query" id="query" value="" placeholder="查找地块" autocomplete="off"/>
          </div>
          <ul data-role="listview" data-inset="true" id="search_results"></ul> 
        </div>

        <div data-role="page" id="layerspage">
          <div data-role="header">
            <h1>Layers</h1>
          </div>
          <div data-role="content">
            <ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="c" id="layerslist">
            </ul>
          </div>
        </div>

        <div data-role="page" id="popup" data-add-back-btn="true" data-back-btn-text="返回">
            <div data-position="inline" data-theme="d" data-role="header">
                <h1>详细情况</h1>
            </div>
            <div data-theme="c" data-role="content"  >
							<div class="ui-grid-a " id="popup-grid">
			            <div class="ui-block-a">
										<input id="deleteXmdk2" type="button" data-inline="false" value="删除记录" data-theme="e"/>
			            </div>
			            <div class="ui-block-b">
										<input id="modifyXmdk2" type="button" data-inline="false" value="修改地块" data-theme="b"/>
			            </div>
			        </div>
               <ul id="details-list" data-role="listview" data-inset="true" >
               </ul>
            </div>
        </div>

        <div data-role="page" id="new_xmdk_id" data-add-back-btn="true" data-back-btn-text="返回">
            <div data-position="inline" data-theme="d" data-role="header">
                <h1>增加巡查点</h1>
            </div>
            <div data-theme="c" data-role="content">
                <div class="ui-grid-a ">
				            <div class="ui-block-a">
											<input id="deleteXmdk" type="button" data-inline="false" value="删除记录" data-theme="e"/>
				            </div>
				            <div class="ui-block-b">
											<input id="saveXmdk" type="button" data-inline="false" value="保存修改" data-theme="b"/>
				            </div>
				        </div>
								<ul data-role="listview" data-inset="true" data-divider-theme="b">
                  <li>
                    <p>项目地块编号:</p> 
                    <input name="gid"  placeholder="" value="" type="text" disabled="true">
                  </li> 
                  <li>
                    <p>用户标识:</p> 
										<input name="username"  placeholder="" value="<%= @username %>" type="text">
                  </li>
                  <li>
                    <p>项目名称:</p>
                    <input name="xmmc"  placeholder="" value="" type="text">
                  </li> 
                  <li>
                    <p>批准文号:</p>
                    <input name="pzwh"  placeholder="" value="" type="text">
                  </li> 
                  <li>
                    <p>建设状态:</p>
                    <input name="sfjs"  placeholder="" value="" type="text">
                  </li> 
                  <li>
                    <p>用地单位</p>
                    <input name="yddw"  placeholder="" value="" type="text">
                  </li>
                  <li>
                    <p>土地坐落:</p>
                    <input name="tdzl"  placeholder="" value="" type="text">
                  </li>
                  <li>
                    <p>地块面积:</p>
                    <input name="dkmj"  placeholder="" value="" type="text">
                  </li>
                  <li>
                    <p>创建时间:</p>
                    <input name="jirq"  placeholder="" value="" type="text">
                  </li>
                  <li>
                    <p>行政区名称:</p>
                    <input name="xzqmc"  placeholder="" value="" type="text">
                  </li>
                  <li>
                    <p>地块号:</p>
                    <input name="dkh"  placeholder="" value="" type="text">
                  </li>
                  <li>
                    <p>图幅号:</p>
                    <input name="tfh"  placeholder="" value="" type="text">
                  </li>
                  <li>
                    <p>新增标记:</p>
                    <input name="xz_tag"  placeholder="" value="" type="text" disabled="true">
                  </li>
                </ul>
            </div>
        </div>
				
				<div data-role="dialog" id="sure" data-title="确定删除">
				  <div data-role="content">
				    <h2 class="sure-1">确定删除这条记录</h2>
				    <h3 class="sure-2">此操作不可逆转</h3>
				    <div class="ui-grid-a ">
				        <div class="ui-block-a">
									<a href="#" data-role="button" data-theme="b" data-rel="back">返回</a>
				        </div>
				        <div class="ui-block-b">
									<input id="sureXmdk" type="button" data-inline="false" value="删除记录" data-theme="f"/>
				        </div>
				    </div>
				  </div>
				</div>
				
    </body>
</html>
