<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>激扬软件</title>
    <link rel="stylesheet" type="text/css" href="/javascripts/mfbase/ext/resources/themes/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/desktop.css" />
 
    <!-- Ajax -->
    <script type="text/javascript" src="/javascripts/prototype.js"></script>

    <!-- ext base -->
    <script type="text/javascript" src="/javascripts/mfbase/ext/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/javascripts/mfbase/ext/ext-all.js"></script>

    <!-- open layers and mapfish -->
    
    <script src="http://www.openlayers.org/api/2.11/OpenLayers.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>
    <script type="text/javascript" src="/javascripts/mfbase/geoext/script/GeoExt.js"></script>
    <script type="text/javascript" src="/javascripts/mfbase/state/SessionProvider.js"></script>

    <!-- Desktop Windows -->
    <script type="text/javascript" src="/javascripts/desktop/StartMenu.js"></script>
    <script type="text/javascript" src="/javascripts/desktop/TaskBar.js"></script>
    <script type="text/javascript" src="/javascripts/desktop/Desktop.js"></script>
    <script type="text/javascript" src="/javascripts/desktop/App.js"></script>
    <script type="text/javascript" src="/javascripts/desktop/Module.js"></script>

    <!-- print component -->
    <script type="text/javascript" src="/javascripts/LodopFuncs.js"></script>
    
    <script type="text/javascript" src="/javascripts/watches.js"></script>
    
    <!--%= javascript_include_tag "common" %--> 
    <!--%= javascript_include_tag "TaskMan" %--> 
    <!--%= javascript_include_tag "ReportMan" %--> 
    <!--%= javascript_include_tag "SystemMan" %--> 
    <!--%= javascript_include_tag "SystemStatus" %--> 
    <!--%= javascript_include_tag "AccordionWindow" %-->
    <!--%= javascript_include_tag "App" %> 

    <%= csrf_meta_tags %>

  <!--object id="LODOP" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
    <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="install_lodop.exe"></embed>
  </object-->
  
</head>

<body scroll="no">

<div id="x-desktop">
    <a href="http://extjs.com" target="_blank" style="margin:5px; float:right;"><img src="/images/powered.gif" /></a>

    <dl id="x-shortcuts">
        <dt id="taskman-shortcut">
            <a href="#"><img src="/images/s.gif" />
            <div>任务管理</div></a>
        </dt>
        <dt id="systemstatus-shortcut">
            <a href="#"><img src="/images/s.gif" />
            <div>系统监视</div></a>
        </dt>
        <dt id="reportman-shortcut">
            <a href="#"><img src="/images/s.gif" />
            <div>统计报表</div></a>
        </dt>
        <dt id="systemman-shortcut">
            <a href="#"><img src="/images/s.gif" />
            <div>系统管理</div></a>
        </dt>

        <dt id="acc-win-shortcut">
            <a href="#"><img src="/images/s.gif" />
            <div>通讯录</div></a>
        </dt>
    </dl>
</div>

<div id="ux-taskbar">
	<div id="ux-taskbar-start"></div>
	<div id="ux-taskbuttons-panel"></div>
	<div class="x-clear"></div>
</div>

</body>
</html>