<!DOCTYPE html>
<html>
<head>
	<title>图像查看</title>
	<link rel="stylesheet" href="/smooth/easy.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="/smooth/jquery.js" charset="utf-8"></script>
	<script src="/smooth/easySlider1.7.js" charset="utf-8"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			$("#slider").easySlider({
				//auto: true,
				continuous: true,
				nextId: "slider1next",
				prevId: "slider1prev"
			});
		});
	</script>
</head>

<body>
	<div id="container">
		<div id="header"> 
			<h1>JC2777 图像浏览</h1> 
		</div>
		<div id="content">
			<div id="slider">
				<ul>
					<li><a href="#"><img src="/images/dady/xctx/55801_0_IMAGE_0005.JPG"  /></a>55801_0_IMAGE_0005.JPG</li>
					<li><a href="#"><img src="/images/dady/xctx/55803_0_IMAGE_0006.JPG"  /></a>55803_0_IMAGE_0006.JPG</li>
					<li><a href="#"><img src="/images/dady/xctx/55803_0_IMAGE_0007.JPG"  /></a>55803_0_IMAGE_0007.JPG</li>
					<li><a href="#"><img src="/images/dady/xctx/55803_0_IMAGE_0008.JPG"  /></a>55803_0_IMAGE_0008.JPG</li>
					<li><a href="#"><img src="/images/dady/xctx/55808_0_IMAGE_0009.JPG"  /></a>55808_0_IMAGE_0009.JPG</li>
					<li><a href="#"><img src="/images/dady/xctx/55808_0_IMAGE_0010.JPG"  /></a>55808_0_IMAGE_0010.JPG</li>
					<li><a href="#"><img src="/images/dady/xctx/55809_0_IMAGE_0011.JPG"  /></a>55809_0_IMAGE_0011.JPG</li>
					<li><a href="#"><img src="/images/dady/xctx/55809_0_IMAGE_0012.JPG"  /></a>55809_0_IMAGE_0012.JPG</li>
					<li><a href="#"><img src="/images/dady/xctx/55945_0_IMAGE_0027.JPG"  /></a>55945_0_IMAGE_0027.JPG</li>
				</ul>
			</div>
		</div>	
	</div>
</body>

</html>